<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <main>
        <form action="/products/create" method="POST" class="creation" enctype="multipart/form-data">
            <label for="" class="edits-2" id="prod-name">Nombre del Producto:</label>
            <input
                type="text" 
                name="name" 
                id="name" 
                class="edits <%= locals.errors && errors.name?'is-invalid':null %>"
                value="<%= locals.oldData?oldData.name:null %>"
            >
            <% if(locals.errors && errors.name) { %>
                <div>
                    <%= errors.name.msg %>
                </div>
            <% } %>
            <label for="" class="edits-2">Descripción:</label>
            <textarea
                name="description" 
                id="description"
                cols="30"
                rows="10" 
                class="edits <%= locals.errors && errors.description?'is-invalid':null %>"
            ><%=locals.oldData?oldData.description:null%></textarea>
            <% if(locals.errors && errors.description) { %>
                <div>
                    <%= errors.description.msg %>
                </div>
            <% } %>
            <label for="" class="edits-2">Imágen:</label>
            <input
                type="file" 
                name="image" 
                id="image"
                class= "<%= locals.errors && errors.image?'is-invalid':null %>"
                value="<%= locals.oldData?oldData.image:null %>"
            >
            <% if(locals.errors && errors.image) { %>
                <div>
                    <%= errors.image.msg %>
                </div>
            <% } %>
            <label for="" class="edits-2">Categoría:</label>
            <select name="categoryId" id="category" class="edits">
                <option value=3>Auriculares</option>
                <option value=2>Teclados</option>
                <option value=4>Mouse</option>
                <option value=1>Micrófonos</option>
            </select>
            <label for="" class="edits-2">Color:</label>
            <select name="colorId" id="color" class="edits">
                <option value=1>Rojo</option>
                <option value=2>Blanco</option>
                <option value=4>Verde</option>
                <option value=6>Celeste</option>
                <option value=3>Negro</option>
            </select>
            <label for="" class="edits-2">Marca:</label>
            <select name="brandId" id="brand" class="edits">
                <option value=7>Blue</option>
                <option value=3>Corsair</option>
                <option value=4>HyperX</option>
                <option value=1>Logitech</option>
                <option value=5>Razer</option>
                <option value=2>Redragon</option>
            </select>
            <label for="" class="edits-2">Stock:</label>
            <input type="input" 
            name="stock" 
            id="stock" 
            class="edits <%= locals.errors && errors.stock?'is-invalid':null %>"
            value="<%= locals.oldData?oldData.stock:null %>">
            <% if(locals.errors && errors.stock) { %>
                <div>
                    <%= errors.stock.msg %>
                </div>
            <% } %>
            <label for="" class="edits-2">Precio:</label>
            <input
                type="input" 
                name="price" 
                id="price" 
                class="edits <%= locals.errors && errors.price?'is-invalid':null %>"
                value="<%= locals.oldData?oldData.price:null %>">
            <% if(locals.errors && errors.price) { %>
                <div>
                    <%= errors.price.msg %>
                </div>
            <% } %>
            <div class="create-button">
                <button type="submit" id="create-button" class="send-button">Añadir a Catálogo</button>
            </div> 
        </form>
    </main>
    <%- include('partials/footer') %>
    <script src="/js/validation-product-edit.js"></script>
</body>
</html>