<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <main>
        <form action="/products/<%= product.id %>?_method=PUT" method="POST" class="creation" enctype="multipart/form-data">
            <label for="" class="edits-2" id="prod-name">Nombre del Producto:</label>
            <input type="text" name="name" id="name" class="edits" value="<%= product.name %>">
            <label for="" class="edits-2">Descripción:</label>
            <textarea name="description" id="decription" cols="30" rows="10" class="edits" value="<%= product.description %>"><%= product.description %></textarea>
            <label for="" class="edits-2">Imágen:</label>
            <input type="file" name="image" id="image">
            <input type="hidden" name="oldImage" id="image" value="<%= product.image %>">
            <label for="" class="edits-2">Categoría:</label>
            <select name="category" id="category" class="edits" value="<%= product.category %>">
                <option value=3>Auriculares</option>
                <option value=2>Teclados</option>
                <option value=4>Mouse</option>
                <option value=1>Micrófonos</option>
            </select>
            <label for="" class="edits-2">Colores:</label>
            <select name="color" id="color" class="edits" value="<%= product.color %>">
                <option value=1>Rojo</option>
                <option value=2>Blanco</option>
                <option value=4>Verde</option>
                <option value=6>Celeste</option>
                <option value=3>Negro</option>
            </select>
            <label for="" class="edits-2">Marca:</label>
            <select name="brandId" id="brand" class="edits">
                <option value=7>Blue</option>
                <option value=3>Corsair</option>
                <option value=4>HyperX</option>
                <option value=1>Logitech</option>
                <option value=5>Razer</option>
                <option value=2>Redragon</option>
            </select>
            <label for="" class="edits-2">Precio:</label>
            <input type="input" name="price" id="price" class="edits" value="<%= product.price %>">

            <div class="create-button">
                <button type="submit" id="create-button" class="send-button">Modificar Producto</button>
            </div> 
        </form>
    </main>
    <%- include('partials/footer') %>
</body>
</html>