<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <main class="main-register">
                <section class="register">
                    <h2>REGISTRO</h2>
                    <form class="register-form" id="register-form" action="/users/register" method="POST" enctype="multipart/form-data">
                        <div class="regform-outofthebox">
                            <div class="contenedor-regform name">
                                <label class="labelName" id="labelName">Nombre</label>
                                <input 
                                    type="text"
                                    class="inputName <%= locals.errors && errors.name?'is-invalid':null %>"
                                    id="name"
                                    name="name"
                                    placeholder="Cosme"
                                    value="<%= locals.oldData?oldData.name:null %>"
                                >
                                <% if(locals.errors && errors.name) { %>
                                    <div>
                                        <%= errors.name.msg %>
                                    </div>
                                <% } %>
                            </div>
                            <div class="contenedor-regform lastName">
                                <label class="labelLastName" id="labelLastName">Apellido</label>
                                <input
                                    type="text"
                                    class="inputLastName <%= locals.errors && errors.lastName?'is-invalid':null %>"
                                    id="lastName"
                                    name="lastName"
                                    placeholder="Fulanito"
                                    value="<%= locals.oldData?oldData.lastName:null %>"
                                >
                                <% if(locals.errors && errors.lastName) { %>
                                    <div>
                                        <%= errors.lastName.msg %>
                                    </div>
                                <% } %>
                            </div>
                            <div class="contenedor-regform age">
                                <label class="labelAge" id="labelAge">Fecha de Nacimiento</label>
                                <input
                                    type="date"
                                    class="inputAge <%= locals.errors && errors.birthDate?'is-invalid':null %>"
                                    id="birthDate"
                                    name="birthDate"
                                    placeholder="Fecha de Nacimiento"
                                    value="<%= locals.oldData?oldData.birthDate:null %>"
                                >
                                <% if(locals.errors && errors.birthDate) { %>
                                    <div>
                                        <%= errors.birthDate.msg %>
                                    </div>
                                <% } %>
                            </div>
                            <div class="contenedor-regform address">
                                <label class="labelAddress" id="labelAddress">Dirección</label>
                                <input
                                    type="text"
                                    class="inputAddress <%= locals.errors && errors.address?'is-invalid':null %>"
                                    id="address"
                                    name="address"
                                    placeholder="Dirección"
                                    value="<%= locals.oldData?oldData.address:null %>"
                                >
                                <% if(locals.errors && errors.address) { %>
                                    <div>
                                        <%= errors.address.msg %>
                                    </div>
                                <% } %>
                            </div>
                            <div class="contenedor-regform enail">
                                <label class="labelEmail" id="labelEmail">Email</label>
                                <input
                                    type="email"
                                    class="inputEmail"
                                    id="email"
                                    name="email"
                                    placeholder="example@gmail.com"
                                    value="<%= locals.oldData ? oldData.email : null %>">
                                    <% if(locals.errors && errors.email){ %>
                                        <div class="errorMsg"><%= errors.email.msg %></div>
                                    <% } %>
                                
                            </div>
                            <div class="contenedor-regform password">
                                <label class="labelPassword" id="labelPassword">Contraseña</label>
                                <input type="password" id="password" name="password" class="inputPassword" name="password" placeholder="**********">
                                <% if(locals.errors && errors.password){ %>
                                    <div class="text-danger">
                                        <%= errors.password.msg %>
                                    </div>
                                <% } %>
                            </div>
                            <div class="contenedor-regform">
                                <label class="labelRePassword" id="labelRePassword">Repita su contraseña</label>
                                <input type="password" id="confirmPassword" class="inputRePassword" placeholder="**********" name="confirmPassword">
                                <% if(locals.errors && errors.confirmPassword){ %>
                                    <div class="text-danger">
                                        <%= errors.confirmPassword.msg %>
                                    </div>
                                <% } %>
                            </div>
                            <div class="contenedor-regform">
                                <label class="labelAvatar">Imágen de Perfil</label>
                                <input type="file" id="avatar" class="inputAvatar" name="avatar">
                                <% if(locals.errors && errors.avatar){ %>
                                    <div>
                                        <%= errors.avatar.msg %>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                        

                        <div class="reg-button">
                            <div class="send-box">
                                <button type="submit" class="send-button">Enviar</button>
                            </div>
                            <div class="got-account-box">
                                <a href="/login" class="link-got-account">¿Ya tenés cuenta? Iniciá sesión</a>
                            </div>
                        </div>
                    </form>
                </section>
            </main>
            <%- include('partials/footer') %>

            <script src="/js/validation-register.js"></script>
    </body>

</html>